{% extends 'bun_app/first.html' %}

{% block title %}{{ registration_data }}{% endblock %}

{% block content %}
    <div class="features">

        <h1>{{ registration_data }}</h1>
        <form method="post">
            {% csrf_token %}

             <div class="control-group">
                 {{ form.username }}
                 <p class="help-block text-danger"></p>
             </div>
             <div class="control-group">
                 {{ form.email }}
                 <p class="help-block text-danger"></p>
             </div>
             <div class="control-group">
                 {{ form.password1 }}
                 <p class="help-block text-danger"></p>
             </div>
             <div class="control-group">
                 {{ form.password2 }}
                 <p class="help-block text-danger"></p>
             </div>
             <div>
                 <br>
                 <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Зарегистрироваться</button>
             </div>
        </form>
    </div>
{% endblock %}